
<div class="container text-center text-md-start mt-3">
    <!-- Grid row -->
    <div class="row mt-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
          </nav>
    </div>

    <div style="height: 400px;">
    
        <h1 class="text-center" style="padding:130px 0;">Coming Soon...</h1>
    </div>

 
    <!-- Grid row -->


  </div>

